#root,
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.navigation-slider {
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 236, 236);
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  width: 300px;
  margin-left: -300px;
  font-family: Montserrat;
  z-index: 5;
  transition: margin-left 0.2s;
}
.sign-in {
  display: flex;
  align-items: center;
  height: 80px;
  margin-top: 67px;
  padding: 0 15px;
  font-weight: 500;
  color: white;
  background-color: rgb(223, 52, 52);
  cursor: pointer;
}
.sign-in:hover {
  color: rgb(223, 52, 52);
  background-color: rgb(29, 19, 2);
}
.sign-in .profile-icon {
  filter: brightness(0) invert(1);
  margin-right: 10px;
  font-weight: 700;
  height: 35px;
  width: 35px;
}
.sign-in:hover .profile-icon {
  filter: none;
}

.navigation-slider .navigation-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 65%;
  font-size: 18px;
  font-weight: 600;
}
.navigation-slider .navigation-options .option,
.navigation-slider .help-options .option {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}
.navigation-slider .navigation-options .option a,
.navigation-slider .help-options .option a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}
.navigation-slider .navigation-options .option:hover,
.navigation-slider .help-options .option:hover {
  background-color: rgb(210, 210, 210);
}
.navigation-slider .help-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25%;
}

.invisible {
  width: 70px;
  position: absolute;
}
@media (min-width: 650px) {
  * {
    border-style: none;
    background: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* HEADER */

  .header-global {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
  }
  .menu {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 70px;
    z-index: 6;
  }
  .nav-icon,
  .profile-icon,
  .shopping-bag-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .logo-icon {
    height: 55px;
  }
  .menu-session {
    display: flex;
    flex-direction: row;
  }

  /* FOOTER */
  .footer-global {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 236, 236);
    width: 100%;
    font-family: Montserrat;
  }
  .main-topic {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    margin: 60px 0 30px 0;
  }
  .category-title {
    color: rgb(223, 52, 52);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .link {
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    cursor: pointer;
  }
  .category-description {
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .link:hover {
    color: rgb(223, 52, 52);
  }
  .category-list {
    display: flex;
    flex-direction: column;
  }
  .category-link {
    color: rgb(223, 52, 52);
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
  }
  .category-link:hover {
    color: rgb(29, 19, 2);
    font-weight: 700;
  }
  .footer-logo .logo-icon {
    width: 175px;
    height: auto;
  }
  .country-category,
  .country {
    margin-top: -5px;
    font-size: 12px;
    font-weight: 500;
  }
  .country-category {
    margin-bottom: 50px;
  }
}
@media (min-width: 100px) and (max-width: 650px) {
  * {
    border-style: none;
    background: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* HEADER */

  .header-global {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
  }
  .menu {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 70px;
    z-index: 6;
  }
  .nav-icon,
  .profile-icon,
  .shopping-bag-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .logo-icon {
    height: 55px;
  }
  .menu-session {
    display: flex;
    flex-direction: row;
  }

  /* FOOTER */
  .footer-global {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 236, 236);
    width: 100%;
    font-family: Montserrat;
  }
  .main-topic {
    display: flex;
    flex-direction: row;
  }
  .categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 60px 0 30px 0;
  }
  .main-topic {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 35px;
  }
  .category-title {
    color: rgb(223, 52, 52);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .link {
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    cursor: pointer;
  }
  .newsletter-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .category-description {
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .link:hover {
    color: rgb(223, 52, 52);
  }
  .category-list {
    display: flex;
    flex-direction: column;
  }
  .category-link {
    color: rgb(223, 52, 52);
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
  }
  .category-link:hover {
    color: rgb(29, 19, 2);
    font-weight: 700;
  }
  .footer-logo .logo-icon {
    width: 175px;
    height: auto;
  }
  .country-category,
  .country {
    margin-top: -5px;
    font-size: 12px;
    font-weight: 500;
  }
  .country-category {
    margin-bottom: 50px;
  }
}
.menu-segment__title {
  text-align: center;
}
